
  <div class="group">
  	<%= link_to("New Product", new_admin_product_path(@product), class: "btn btn-warning pull-right") %>
  </div>
	<table class="table table-hover">
		<thread>
			<tr>
				<td>#</td>
				<td>Product Pic</td>
				<td>Name</td>
				<td>Price</td>
				<td>Options</td>			
			</tr>
		</thread>
		<tbody>
		  <% @products.each do |product| %>
			  <tr>
			  	<td> <%= product.id %> <td>
			  	<td> product.image </td>
			  	<td><%= product.title %> </td>
			  	<td><%= product.price %> </td>
			  	<td>
                    <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default") %>
                </td>
              </tr>
            <% end %>
		</tbody>
    </table>